@font-face {
    font-family: 'Racing Sans One';
    src: url(../../fonts/RacingSansOne-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

.games-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #0F0E1C;
}

#tagline {
    font-size: 45px;
    font-family: 'Racing Sans One'; 
    text-transform: capitalize;
    margin-top: 5%;
    color: aliceblue;
    text-align: center;

}