@font-face {
    font-family: 'Racing Sans One';
    src: url(../../fonts/RacingSansOne-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

.game-overlay {
    
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    position: absolute;
    /* cursor: none; */
    opacity: 0;
    border: 2px solid #5b7188;
    padding: 2%;
    z-index: -1;
    
}


.game-overlay > h1 {
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: medium;
    text-align: center;
}

.game-overlay > hr {
    background-color: white;
}

.game-overlay > h3 {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
}


.genre > p {
    font-size: 25px;
    
}


.game-image:hover + .game-overlay {
    opacity: 1;
    z-index: 1;
}