.post {
    display: block;
    text-align: center;
    /* border-style: solid; */
    border-radius: 5%;
    padding: 2%;
    margin: 2%;
    background-color: #1E2238;
}

.post > input {


}

.poster-name {
    font-weight: bold;
}

