.post-form {
    position: absolute;
    justify-self: center;
    left: 40%;
    height: 22em;
    grid-template-rows: 4em 10em 0em 0em 0em 2em;
}

textarea {
    color: white;
    height: 11em;
    background: transparent;
    resize: false;
}