.signup-form {
	grid-template-columns: 20em;
	grid-template-rows: 4em repeat(4, 2em);
}

.signup-form input {
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
}

.name-fields {
	display: inline-block;
}

.name-fields > input:first-child {
	width: 9.5em;
	float: left;
	height: 32px;
}

.name-fields > input:last-child {
	width: 9.5em;
	float: right;
	height: 32px;
}

/* .signup-form :first-child {
	width: 20em;
	grid-column-start: 1;
	grid-column-end: 2;
} */

/* .signup-form input:nth-child(4) {
	align-self: end;
	justify-self: end;
	width: 10em;
	
} */



.signup-form :last-child {
	align-self: end;
	margin-bottom: 1em;
}

