.login-form {
    
    grid-template-rows: 4em repeat(4, 2em);

}

.login-form :last-child {
    align-self: end;
    margin-bottom: 1em;
}

.close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    outline: none;
}

.error-text {
    color: red;
}