.game-card {
    margin: 2em;
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    /* border: 1px solid; */
}

.game-card > h1{
    text-align: center;
    font-size: 1.8rem;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: pink;
}

.game-image {
    width: 276px;
    height: 276px;
    border-radius: 100%;
    transform: all 0.5s ease;
}

.following {
    border: 5px solid green;
}

.not-following {
    border: 5px solid red;

}