.game-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
}

.game-card > h1{
    text-align: center;
    font-size: 1.8rem;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: pink;
}

.game-image {
    width: 276px;
    height: 368px;
}