.game-card {
    text-align: center;
    border: 1px solid;
    height: 15em;
}

.game-card > h1{
    text-align: center;
    font-size: 1.8rem;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: pink;
}