nav {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(20, 124, 200);
}

nav > a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: none;
    color: white;
}

nav :first-child {
    margin-right: auto;
}

nav > input[type="button"] {
    margin-right: 1.5em;
    height: 90%;
}

nav > input[type="text"] {
    justify-self: center;
    margin: 0 auto;
}